#wrapper {
    position: relative;
}

#video{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#camera-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

#resize-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}